@charset "UTF-8";
#fondoFormu {
  background-color: #f6f9fa;
  margin-left: 15vh;
  padding: 5vh 1vh 6vh 1vh;
  width: 70%; }

.estiloTabla {
  color: #f77307; }

@media only screen and (max-width: 768px) {
  #fondoFormu {
    margin-left: 1vh;
    padding: 1vh 1vh 1vh 1vh;
    width: 95%; } }

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 6vh;
  width: 6vh;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%; }

.carousel-caption {
  color: black !important;
  font-weight: bold;
  font-size: larger; }

.carousel-item img {
  border-radius: 20px; }

video {
  max-width: 100%;
  height: auto;
  border-radius: 10px; }

img {
  border-radius: 10px;
  margin-bottom: 2vh; }

hr.lineaSepara {
  border: 0.2vh wheat; }

body {
  background-color: #f0eedd;
  margin: 1.38vh; }

#logoWhatsapp {
  position: fixed;
  height: 8.31vh;
  width: 8.31vh;
  bottom: 1.577vh;
  right: 1.577vw; }

i {
  font-size: 6vh; }

i:hover {
  font-size: 7.886vh;
  color: orange; }

#tablaPlanes {
  background-color: wheat;
  text-align: left;
  width: 90%;
  align-self: center;
  margin-left: 5vw; }

/* Se usa en Beneficios */
.bloqueTextoImagen {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 0.2vh; }
  .bloqueTextoImagen__texto {
    width: 120vh;
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    font-size: 2.5vh; }
  .bloqueTextoImagen__imagen {
    padding: 0.2vh;
    border-radius: 20px; }

/* comienza estilos Flexbox  index  galería de fotos */
.estiloSocios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }
  .estiloSocios .estiloSocios__cardSocio {
    flex: 0 0 27vh;
    margin: 1.5vh;
    border: 0.1vh solid #f0eedd;
    box-shadow: 0.27vh 0.27vw 0.83vh 0vw #e78331;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: height 1s, width 1s;
    justify-items: center; }
  .estiloSocios .estiloSocios__cardSocio:hover {
    background-color: wheat;
    box-shadow: 0.27vh 0.27vw 0.83vh 0vw #8a3451;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 140%; }
  .estiloSocios .estiloSocios__cardSocioImg {
    height: 16.6vh;
    width: 100%;
    border-radius: 1px; }
  .estiloSocios .estiloSocios__cardSocioDiv {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    text-align: center; }

/* termina estilos Flexbox  index  galería de fotos */
/* comienza estilos título, subtítulo y texto */
.estiloTexto__titulo {
  color: #e78331;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3.3vh;
  margin-top: 5vh;
  margin-bottom: 5vh; }

.estiloTexto__subtitulo {
  font-family: 'Hind', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
  margin-top: 5vh;
  margin-bottom: 5vh; }

.estiloTexto__sub-subtitulo {
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.4vh; }

.estiloTexto__parrafo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2vh; }

.estiloTexto__link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vh;
  color: #e78331; }

/* termina estilos título, subtítulo y texto */
/* comienza  Flexbox  footer  */
.estiloFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }
  .estiloFooter__footerBloque {
    flex: 0 0 48.47vh;
    margin: 2.077vh;
    border: 0; }
  .estiloFooter__footerTitulo {
    padding: 0.7vh 0.7vw 0.7vh 4.8vw;
    border: 0.138vh solid wheat;
    box-shadow: 0.277vh 0.277vw 0.415vh 0vw grey;
    background-color: wheat;
    animation-duration: 2s;
    animation-name: letras; }
  .estiloFooter__footerItems {
    padding: 0.7vh 0.7vh 0.7vh 4.8vh; }
  .estiloFooter__texto {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

@keyframes letras {
  0% {
    opacity: 0;
    color: #8a3451; }
  100% {
    opacity: 1;
    color: #e78331; } }

/* termina  Flexbox  footer  */
/* comienza estilos Articulos y Novedades */
.estiloArticulos {
  display: grid;
  grid-template-areas: "artUno       artUno" "artDos       artTres" "artCuatro    artCinco" "artSeis      artSiete" "artOcho      artOcho";
  font-size: 2.3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2vh 2vw 5vh 2vw;
  padding: 5vh 2vw 2vh 2vw;
  border: 0.1vh solid #e78331;
  border-radius: 4vh;
  justify-items: center;
  align-items: center; }

.artUno {
  grid-area: artUno; }

.artDos {
  grid-area: artDos;
  padding-top: 5vh; }

.artTres {
  grid-area: artTres;
  padding-top: 5vh; }

.artCuatro {
  grid-area: artCuatro;
  padding-top: 5vh; }

.artCinco {
  grid-area: artCinco;
  padding-top: 5vh; }

.artSeis {
  grid-area: artSeis; }

.artSiete {
  grid-area: artSiete; }

.artOcho {
  grid-area: artOcho; }

/* termina estilos Articulos y Novedades */
/* comienza Grilla de la tabla de servicios */
#grillaServicios {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: "areaUno       areaDos      areaTres  " "areaCuatro    areaCinco    areaSeis  "     "areaSiete     areaOcho     areaNueve "     "areaDiez      areaOnce     areaDoce  " "areaTrece     areaCatorce  areaQuince";
  font-size: 2.3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2vh 2vw 4vh 2vw;
  padding: 3vh 2vw 2vh 4vw;
  border: 0.1vh solid #e78331;
  border-radius: 4vh; }

/* termina Grilla de la tabla de servicios */
/* comienza Grilla del menú */
#grillaMenu {
  background-image: linear-gradient(to left, #e78331, wheat);
  padding: 0.5vw; }

/* termina Grilla del menú */
/* comienza media tablet */
@media only screen and (max-width: 768px) {
  #grillaServicios {
    font-size: 2vh;
    padding: 3vh 0.2vh 2vh 0.2vh;
    margin: 2vh 0.2vh 4vh 0.2vh; }
  .estiloArticulos {
    grid-template-areas: "artUno       artUno" "artDos       artDos" "artTres      artTres" "artCuatro    artCinco" "artSeis      artSiete" "artOcho      artOcho";
    margin: 0.5vh 0.2vh 0.5vh 0.2vh;
    padding: 0.5vh 0.2vh 0.5vh 0.2vh; }
  .estiloFooter {
    align-items: center; }
  /* termina  media tablet */ }

/* comienza media mobile */
@media only screen and (max-width: 480px) {
  #grillaServicios {
    font-size: 1.8vh;
    padding: 2vh 0.01vh 2vh 0.01vh;
    margin: 2vh 0.01vh 4vh 0.01vh;
    text-align: left;
    align-items: center;
    align-self: center;
    align-content: center; }
  .estiloArticulos {
    grid-template-areas: "artUno       artUno" "artDos       artDos" "artTres      artTres" "artCuatro    artCinco" "artSeis      artSiete" "artOcho      artOcho";
    margin: 0.5vh 0.5vw 0.5vh 0.5vw;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw; }
  .estiloFooter {
    align-items: center; }
  /* termina media mobile */ }
