#fondoFormu {
    background-color:#f6f9fa;
    margin-left: 15vh;
    padding: 5vh 1vh 6vh 1vh;
    width: 70%;
  }

.estiloTabla{
    color: rgb(247, 115, 7);
}

@media only screen and (max-width: 768px){
  #fondoFormu {
    margin-left: 1vh;
    padding: 1vh 1vh 1vh 1vh;
    width: 95%;
  }
}