  $colorBase: rgb(231, 131, 49); 
  $colorDos: wheat; 
  $colorIconos: orange;
  $colorTres: rgb(138, 52, 81);
  $colorCuatro: rgb(240, 238, 221);
  $colorLogoWApp: rgb(165, 177, 165);
  $colorCinco: #ece9d7;