  @import "variables";
  @import "estilosFormulario";

  video {
    max-width: 100%;
    height: auto;
  }

  hr.lineaSepara{
      border: 0.2vh $colorDos;
    }    

  @mixin sizes ($width, $height){
     height: $height;
     width: $width; 
  }

  @mixin fondoColor ($color){
    background-color: $color;  
  }
  
  body{ 
    @include fondoColor ($colorCuatro); 
    margin: 1.38vh;
  }
  
  header {
    background-image: linear-gradient(to left, $colorBase, $colorCuatro);
    height: 33.24vh;
  }
  
  #menu {
    float:left;
    width: 65%;
    margin-top: 2.077vh; 
    margin-right: 10%;
    align-items: center;
    justify-items: center;
  } 
  
  #logoWhatsapp{
    position:fixed;    
    @include sizes (8.310vh, 8.310vh);
    bottom: 1.577vh;
    right: 1.577vh;
    border: 0.157vh solid $colorLogoWApp;
  }  
  
  /* comienza estilos Flexbox  index  galería de fotos */
   .estiloSocios {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around; 
      }

    .estiloSocios__cardSocio {
      flex: 0 0 27.7vh;
      margin: 2.7vh;  
      border: 0.13vh solid $colorCuatro;
      box-shadow: 0.27vh 0.27vh 0.83vh 0vh $colorBase;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transition: height 1s, width 1s;
      justify-items: center; }

    .estiloSocios__cardSocio:hover {

      @include fondoColor ($colorDos);
      box-shadow: 0.27vh 0.27vh 0.83vh 0vh $colorTres;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: oblique;
      font-weight: bold;
      font-size: 140%;
    }

    .estiloSocios__cardSocioImg {

      @include sizes (100%, 16.62vh);
    }

     .estiloSocios__cardSocioDiv {
         padding:  0.788vh 0.788vh 0.788vh 2.365vh;  /*  padding-top   padding-right   padding-bottom   padding-left  */ 
    }
  /* termina estilos Flexbox  index  galería de fotos */

  /* comienza estilos título, subtítulo y texto */
   .estiloTexto {
     
     &__titulo {
      color: $colorBase;
      font-style:normal;        
      font-family: Verdana, Geneva, Tahoma, sans-serif;      
      text-align: center;
      font-weight:bold;   
      font-size: 3.5vh; 
      margin-top: 5vh;
      margin-bottom: 5vh;
     }  

     &__subtitulo {
      font-family: 'Hind', sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 3.3vh; 
      margin-top: 5vh;
      margin-bottom: 5vh;      
     }  

     &__sub-subtitulo {
      font-family: 'Hind', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 2.7vh; 
     }  

     &__parrafo {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 2.2vh; 
     }

     &__link {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vh;       
        color: $colorBase;
     }       
  }
  /* termina estilos título, subtítulo y texto */
  
  /* comienza  Flexbox  footer  */  
    .estiloFooter {
       display: flex;
       flex-wrap: wrap;
       align-items:flex-start;
       justify-content: center;

  
       &__footerBloque {
        flex: 0 0 48.47vh;
        margin: 2.077vh;
        border: 0;

       }  
     
       &__footerTitulo{
         padding:  0.692vh 0.692vh 0.692vh 4.847vh; 
         border: 0.138vh solid $colorDos;
         box-shadow: 0.277vh 0.277vh 0.415vh 0vh grey;
         @include fondoColor ($colorDos); 
         animation-duration: 2s;
         animation-name: letras;
       }
   
       &__footerItems {
         padding:  0.69vh 0.69vh 0.69vh 4.84vh; 
       }

       &__texto {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }       
    
  }

   @keyframes letras {
      0% {
        opacity: 0;
        color: $colorTres; 
      }
      100% {
        opacity: 1;
        color: $colorBase;
      }
   }  
  /* termina  Flexbox  footer  */
  
  /* comienza  Flexbox  Seccion4_Articulos  */  
  .estiloArticulos {  
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;  
    justify-content: space-around;
  
    &__articulo {
      flex: 13.8vh 13.8vh 27.7vh 13.8vh;
      margin: 5.5vh;
      border-top: 0.13vh solid $colorDos;
    } 
  
    &__articulo2 {
      flex: 0 0 27.7vh 0.2vh;
      border: 0.69vh solid $colorDos;
      box-shadow: 0.27vh 0.27vh 0.83vh 0vh grey;
      align-self: center;
    } 
  
    &__detalle {
      padding: 0 2.77vh 2.77vh;
    }

    &__listaArticulos{
      color:black;
      list-style-type: circle;
      list-style-position: inside;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style:italic;     
    }

  }
  /* termina  Flexbox  Seccion4_Articulos */
  
  /* comienza grids Seccion3_Planes.html */
  #grilla{
    display: grid;
    grid-template-rows: 11.08vh 110.80vh 41.551vh;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "titulo"
                        "tabla"
                        "footer";
  }
  /* termina grids Seccion3_Planes.html */  
 
  /* comienza Grilla de la tabla de planes */
  #grillaDos{  
    display: grid;
    grid-template-columns: 15% 15% 20% 50%;  
    grid-template-rows: 5% 24% 24% 24% 24%; 
    border-radius: 4.155vh;
    grid-template-areas: 
    "tituloUno     tituloDos     tituloTres    tituloCuatro"
    "planUno       claseUno      precioUno     descripUno"
    "planDos       claseDos      precioDos     descripDos"
    "planTres      claseTres     precioTres    descripTres"
    "planCuatro    claseCuatro   precioCuatro  descripCuatro";
    justify-items: center;
    align-items: center;
    border: 0.138vh solid black;
    padding: 2vh 0.6vh 0.6vh 0.6vh; 
    font-size: 2vh;
  }
  
  #grillaDos #tituloUno,
  #grillaDos #tituloDos,
  #grillaDos #tituloTres,
  #grillaDos #tituloCuatro
  {
     @include fondoColor ($colorDos);
     border-radius: 4.155vh;
     padding: 1.108vh;
  }

  #descripUno, #descripDos, #descripTres, #descripCuatro li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  } 
  
  #claseUno, #claseDos, #claseTres, #claseCuatro li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


  /* termina Grilla de la tabla de planes */
  
  /* comienza Grilla del menú */
  #grillaTres{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;  
    justify-items: start;
    align-items: center;
    width: 100%;
       li {
         width: 100%;
       }
  }
  
  #grillaMenu
  { background-image: linear-gradient(to left, $colorBase, $colorDos);
    padding: 0.5vw;
   }
  /* termina Grilla del menú */
  
  .areaDos
  {
   align-self: start;
   justify-self: left;
  }  

  /* comienza media tablet */
  @media only screen and (max-width: 768px){

    #grilla{
      display: grid;
      grid-template-rows: 12.618vh 181.388vh 39.432vh;
    }
  
    #grillaTres{
        display: flex; 
        flex-direction: column;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        @include fondoColor ($colorBase);
        margin-left: 17.350vh;
        margin-top: 0vh;
        font-size: 1.577vh;    
        @include sizes (45%, 31.54vh);
    }
  
    #grillaDos{  
      display: grid;
      height: 181.388vh; 
      font-size:1.3vh;
      border: 0.157vh solid $colorBase;
    }

    #estiloArticulo_imagen {
      width: 50%;
      height: 50%;
      align-content: center;
    }

    .estiloFooter {
      align-items: center; 
    }

    .areaDos
    {
     align-self: start;
     justify-self: right;
    }  
    /* termina  media tablet */
  }
  
  /* comienza media mobile */
  @media only screen and (max-width: 480px){
    #grilla{
      display: grid;
      grid-template-rows: 12.618vh 244.479vh 39.432vh;
    }
  
    #grillaTres{
        display: flex; 
        flex-direction: column;    
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        @include fondoColor ($colorBase);
        margin-left: 23.659vh;
        margin-top: 0vh;
           li {
            width: 100%;
            font-size: 1.577vh;
           }
        @include sizes (45%, 31.545vh); 
    }
  
    #grillaDos{  
      display: grid;
      height: 200vh; 
      font-size: 1.1vh;
      border: 0.157vh solid $colorDos;
    }

    #estiloArticulo_imagen {
      width: 50%;
      height: 50%;
    }

    .estiloFooter {
      align-items:center; }

    .areaDos
      {
       align-self: start;
       justify-self: right;
      }  

    /* termina media mobile */
  }

  .letraBeneficios {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    font-weight: bold;
    margin-left: 2vh;
  }
  
  i{
    font-size:6.309vh;
  }
  
  i:hover{
     font-size:7.886vh;
     color: $colorIconos; 
  } 

  #tablaPlanes {  
    background-color: $colorDos;
    text-align: left; 
    padding-bottom: 10vh;
    padding-top: 10vh;
  }
 
.bloqueTextoImagen {
  display: flex; 
  flex-direction: row; 
  align-items:flex-start;
  flex-wrap: wrap;  
  margin-left: 5vh;
 
  &__texto {        
      width: 120vh;
  }

  &__imagen {
      align-content: center;
      justify-content: center;    
  }

  &__linea {
        font-family: 'Hind', sans-serif;
        font-weight: bold;
        font-size: 2.7vh; 
  }
}