@import "variables";
@import "estilosFormulario";

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 6vh;
  width: 6vh;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}

.carousel-caption {
  color:black!important;
  font-weight: bold;
  font-size:larger;
}

.carousel-item img {
  border-radius: 20px;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

img {
  border-radius: 10px;
  margin-bottom: 2vh;
}

hr.lineaSepara{
      border: 0.2vh $colorDos;
}    

@mixin sizes ($width, $height){
     height: $height;
     width: $width; 
}

@mixin fondoColor ($color){
    background-color: $color;  
}
  
body{ 
    @include fondoColor ($colorCuatro); 
    margin: 1.38vh;
}  
 
#logoWhatsapp{
    position:fixed;    
    @include sizes (8.310vh, 8.310vh);
    bottom: 1.577vh;
    right: 1.577vh;
}  
    
i{
    font-size:6vh;
}
  
i:hover{
     font-size:7.886vh;
     color: $colorIconos; 
} 

#tablaPlanes {  
    background-color: $colorDos;
    text-align: left; 
    width: 90%;
    align-self: center;
    margin-left: 5vw;
}
   
 /* Se usa en Beneficios */
.bloqueTextoImagen {
  display: flex; 
  flex-direction: row; 
  align-items:flex-start;
  flex-wrap: wrap;  
  margin-left: 5vh;
 
  &__texto {        
      width: 120vh;
      font-weight: bold;
      font-family: 'Hind', sans-serif;
      font-size: 2.7vh; 
  }

  &__imagen {
      padding: 1vh; 
      border-radius: 20px;
  }
}

/* comienza estilos Flexbox  index  galería de fotos */
.estiloSocios {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content:space-around; 

    .estiloSocios__cardSocio {
      flex: 0 0 27vh;
      margin: 1.5vh;  
      border: 0.1vh solid $colorCuatro;
      box-shadow: 0.27vh 0.27vh 0.83vh 0vh $colorBase;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      transition: height 1s, width 1s;
      justify-items: center; 
    }

    .estiloSocios__cardSocio:hover {
      @include fondoColor ($colorDos);
      box-shadow: 0.27vh 0.27vh 0.83vh 0vh $colorTres;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: oblique;
      font-weight: bold;
      font-size: 140%;
    }

    .estiloSocios__cardSocioImg {
      @include sizes (100%, 16.6vh);
      border-radius: 1px;
    }

    .estiloSocios__cardSocioDiv {
         padding:  0.5vh 0.5vh 0.5vh 0.5vh;  
         text-align: center;
    }
  }  
/* termina estilos Flexbox  index  galería de fotos */

/* comienza estilos título, subtítulo y texto */
.estiloTexto {     
     &__titulo {
      color: $colorBase;
      font-style:normal;        
      font-family: Verdana, Geneva, Tahoma, sans-serif;      
      text-align: center;
      font-weight:bold;   
      font-size: 3.3vh; 
      margin-top: 5vh;
      margin-bottom: 5vh;
     }  

     &__subtitulo {
      font-family: 'Hind', sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 3vh; 
      margin-top: 5vh;
      margin-bottom: 5vh;      
     }  

     &__sub-subtitulo {
      font-family: 'Hind', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 2.4vh; 
     }  

     &__parrafo {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 2.2vh; 
     }

     &__link {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vh;       
        color: $colorBase;
     }       
}
/* termina estilos título, subtítulo y texto */
  
/* comienza  Flexbox  footer  */  
.estiloFooter {
       display: flex;
       flex-wrap: wrap;
       align-items:flex-start;
       justify-content: center;
  
       &__footerBloque {
        flex: 0 0 48.47vh;
        margin: 2.077vh;
        border: 0;
       }  
     
       &__footerTitulo{
         padding:  0.7vh 0.7vh 0.7vh 4.8vh; 
         border: 0.138vh solid $colorDos;
         box-shadow: 0.277vh 0.277vh 0.415vh 0vh grey;
         @include fondoColor ($colorDos); 
         animation-duration: 2s;
         animation-name: letras;
       }
   
       &__footerItems {
         padding:  0.7vh 0.7vh 0.7vh 4.8vh; 
       }

       &__texto {
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }    
  }

 @keyframes letras {
      0% {
        opacity: 0;
        color: $colorTres; 
      }
      100% {
        opacity: 1;
        color: $colorBase;
      }
   }  
/* termina  Flexbox  footer  */
  
/* comienza estilos Articulos y Novedades */
.estiloArticulos {   
  display: grid;
  grid-template-areas: 
  "artUno       artUno"
  "artDos       artTres"
  "artCuatro    artCinco"
  "artSeis      artSiete"
  "artOcho      artOcho";      
  font-size: 2.3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2vh 2vh 5vh 2vh;
  padding: 5vh 2vh 2vh 2vh; 
  border: 0.1vh solid $colorBase;
  border-radius: 4vh;
  justify-items: center;
  align-items: center;
  }

  .artUno { 
    grid-area:artUno; 
  }
  .artDos { 
    grid-area:artDos;  
    padding-top: 5vh;
  }
  .artTres { 
    grid-area:artTres;  
    padding-top: 5vh;
  }
  .artCuatro { 
    grid-area:artCuatro;  
    padding-top: 5vh;
  }
  .artCinco { 
    grid-area:artCinco;  
    padding-top: 5vh;
  }
  .artSeis { 
    grid-area:artSeis;
  }

  .artSiete { 
    grid-area:artSiete;
  }  
  .artOcho { 
    grid-area:artOcho;
  }  
/* termina estilos Articulos y Novedades */
 
/* comienza Grilla de la tabla de servicios */
  #grillaServicios {  
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "areaUno       areaDos      areaTres     areaCuatro"
    "areaCinco     areaSeis     areaSiete    areaOcho"
    "areaNueve     areaDiez     areaOnce     areaDoce"
    "areaTrece     areaCatorce  areaQuince   areaDiezySeis"; 
    font-size: 2.3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2vh 2vh 5vh 2vh;
    padding: 5vh 2vh 2vh 10vh;
    border: 0.1vh solid $colorBase;
    border-radius: 4vh;
  }
  /* termina Grilla de la tabla de servicios */
  
  /* comienza Grilla del menú */ 
  #grillaMenu
  { background-image: linear-gradient(to left, $colorBase, $colorDos);
    padding: 0.5vw;
   }
  /* termina Grilla del menú */
  
  /* comienza media tablet */
  @media only screen and (max-width: 768px){
    #grillaServicios {  
      font-size: 2vh;
      padding: 5vh 2vh 2vh 2vh;
    }

    .estiloArticulos {   
      grid-template-areas: 
      "artUno       artUno"
      "artDos       artDos"
      "artTres      artTres"
      "artCuatro    artCinco"
      "artSeis      artSiete"
      "artOcho      artOcho";   
      margin: 0.5vh 0.5vh 0.5vh 0.5vh;
      padding: 0.5vh 0.5vh 0.5vh 0.5vh; 
    }

    .estiloFooter {
      align-items: center; 
    }
    /* termina  media tablet */
  }
  
  /* comienza media mobile */
  @media only screen and (max-width: 480px){
    #grillaServicios {  
      font-size: 1.4vh;
      padding: 5vh 1vh 1vh 1vh;
    }
  
    .estiloArticulos {   
      grid-template-areas: 
      "artUno       artUno"
      "artDos       artDos"
      "artTres      artTres"
      "artCuatro    artCinco"
      "artSeis      artSiete"
      "artOcho      artOcho";  
      margin: 0.5vh 0.5vh 0.5vh 0.5vh;
      padding: 0.5vh 0.5vh 0.5vh 0.5vh; 
      }

    .estiloFooter {
      align-items:center; 
    }
    /* termina media mobile */
  }